{% extends 'index.html' %}

{% block content %}
{% load static %}

<section class="content pad-bot">
    <div class="container">
        <div class="row">
            <div class="grid_8">
                <h2>Get Your Discount and Pay Less with Essay Writers</h2>
                <p class="text-1">Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consect etuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.</p>
                <p>Ut tellus dolor, dapibus eget, elementum. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce sust variu s mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                <p>Maecenas tristique orci ac sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulu m molestie lacus. Aenean nonummy hendrerit mauris phasellus porta fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <div>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
            </div>
            <div class="grid_4">
                <h2>Do We Grant Discounts?</h2>
                <div class="clearfix">
                    <img src="images/page-4_img-1.jpg" alt="" class="img-ind w1"/>
                    <div class="spacing">
                        <p class="text-1">Cetuer adipiscing elit praesent vestibulum.</p>
                        <p>Ut tellus dolor, dapibus eget, elementum. Aenean nonummy hendrerit phasellus porta. </p>
                        <p>Fusce sust varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                    </div>
                </div>
            </div>
            <div class="grid_12 bord-2 top-1"></div>
        </div>
        <div class="row">
            <div class="grid_8">
                <h2 class="v1">Cumulative Discounts</h2>
                <div class="block-3 bord-1">
                    <div class="box-2">
                        <p class="text-1"><a href="#">Beginner discount</a></p>
                        <div>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris phasellus porta fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.</div>
                    </div>
                    <div class="box-2">
                        <p class="text-1"><a href="#">Standard discount</a></p>
                        <div>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                    </div>
                    <div class="box-2">
                        <p class="text-1"><a href="#">Ace discount</a></p>
                        <div>Lorem ipsum dolor siteme amet consectetuer adipiscing elit praesent vestibulum molestie lacus enean nonummy hendrer mauris phasellus porta fusce suscipit. Cum sociis natoque penatibus.</div>
                    </div>
                </div>
            </div>
            <div class="grid_4 spacing">
                <h2 class="v1">Don't Lose a Chance to Save</h2>
                <p class="text-1">Oluptatemquia volups sitsptur toser-tyas folores ratione emsequ nescique porro quisqumstqui. </p>
                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. </p>
                <p>Aenean nonummy hendrerit mauris phasellus porta fusce suscipit varius mi sociis natoque penatibus. Fusce feugiat malesuada odio. </p>
                <div class="img-wr clearfix"><img src="images/page-4_img-2.jpg" alt=""><img src="images/page-4_img-3.jpg" alt=""></div>
            </div>
        </div>

        <div class="row">
            <div class="grid_12 bord-3"></div>
        </div>
    </div>
</section>

{% endblock %}
